@{
    ViewBag.Title = "Recursos ADM";
}
<!--PAGINA PARA USUARIO ADMINISTRADORES-->
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Colocar aqui as coisas que um ADM pode fazer</p>
<div class="jumbotron">
    <h1>Clinica Veterinaria</h1>
    <p class="lead">O melhor para o seu pet é aqui!!</p>

    <p>@Html.ActionLink("Cadastro de Cliente (Versão Cliente)", "cadCliente")</p>

    <p>@Html.ActionLink("Cadastro de Cliente (Versão ADM para escolher o tipo de usuario)", "cadClienteADM")</p>

    <p>@Html.ActionLink("Cadastro de Veterinario", "cadVeterinario")</p>

    <p>@Html.ActionLink("Cadastro de Tipo de Animal", "cadTipoAnimal")</p>

    <p>@Html.ActionLink("Cadastro de Animal (Com Cadastro de Foto)", "cadAnimal")</p>

    <p>@Html.ActionLink("Cadastro de Atendimento(Com Hora e Data)", "cadAtendimento")</p>

    <p>@Html.ActionLink("Consultar Tabelas(Somente ADM - Com Grid no Banco de Dados)", "ConsultarTabelasGrid")</p>

    <p>@Html.ActionLink("Lista de tipo de Animal (Somente ADM - Editar/Excluir)", "ListarTipoAnimal")</p>

    <p>@Html.ActionLink("Cadastrar Agendamento (Para ADM)", "cadAgendamento")</p>

    <p>@Html.ActionLink("Listar de Animal do usuario (com Editar para usuario e só vai aparecer o pet do usuario em questão)", "ListarAnimalUsuario")</p>

    <p>@Html.ActionLink("Lista todos os Agendamentos", "listarAgendamentoADM")</p>

    <p>@Html.ActionLink("Lista todos os Atendimentos", "listarAtendimentoADM")</p>

</div>
