@model ProjetoVeterinaria.Models.modelCliente
@{
    ViewBag.Title = "cadCliente";
    Layout = null;
}
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet" /><!-- Section: Design Block -->
<link rel="stylesheet" href="~/Content/StyleCadastros.css">
@*<iframe src="~/Home/About" title="description" style="width: 100%; z-index: 10; display:flex; min-height:300px; margin-bottom:0" seamless></iframe>*@

@using (Html.BeginForm("cadCliente", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="text-center text-lg-start">
        <!-- Jumbotron -->
        <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);">
                        <div class="card-body p-5 shadow-5 text-center">
                            <h2 class="fw-bold mb-5">Cadastrar Cliente</h2>
                            <form>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            @Html.EditorFor(m => m.nomeCliente, new { htmlAttributes = new { id = "form3Example1", type = "text", @class = "form-control", required = "required", maxlength = "30" } })
                                            <label class="form-label" for="form3Example1">Nome</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            @Html.EditorFor(m => m.telefoneCliente, new { htmlAttributes = new { id = "form3Example2", type = "tel", @class = "form-control", required = "required", maxlength = "12" } })
                                            <label class="form-label" for="form3Example2">Telefone</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.EditorFor(m => m.cepCliente, new { htmlAttributes = new { id = "form3Example3", type = "text", @class = "form-control", required = "required", maxlength = "10" } })
                                    @Html.ValidationMessageFor(m => m.cepCliente, "", new { @class = "text-danger" })
                                    <label class="form-label" for="form3Example3">Cep</label>
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.EditorFor(m => m.enderecoCliente, new { htmlAttributes = new { id = "form3Example4", type = "text", @class = "form-control", required = "required", maxlength = "50" } })
                                    <label class="form-label" for="form3Example4">Logradouro</label>
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.EditorFor(m => m.usuario, new { htmlAttributes = new { id = "form3Example5", type = "text", @class = "form-control", required = "required", maxlength = "50" } })
                                    <label class="form-label" for="form3Example5">Usuário</label>
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.EditorFor(m => m.senha, new { htmlAttributes = new { id = "form3Example6", type = "password", @class = "form-control", required = "required", maxlength = "50" } })
                                    <label class="form-label" for="form3Example1">Senha</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mb-4">Cadastrar</button>
                              </form>
                            @ViewBag.msg
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="~/Imagens/dogCadCli.jpg" class="w-100 rounded-4 shadow-4" alt="" />
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
}
<!-- Section: Design Block -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}