@model ProjetoVeterinaria.Models.modelTipoAnimal

@{
    ViewBag.Title = "Cadastro Tipo de Animal";
}

<h2>Cadastro do tipo de Animal</h2>

@using (Html.BeginForm("cadTipoAnimal", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.LabelFor(m => m.tipoAnimal) /*aqui referencio ao ModelPaciente para fazer aparecer o que esta lá*/
    <br />
    @Html.EditorFor(m => m.tipoAnimal)
    <br />
    <br />
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
}
<br />
<br />
@ViewBag.msg
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}