@model ProjetoVeterinaria.Models.modelAnimal
@{
    ViewBag.Title = "Editar Animal";
}

<h2>Editar de Animal</h2>

@using (Html.BeginForm("editarAnimal", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.LabelFor(m => m.nomeAnimal) /*aqui referencio ao ModelPaciente para fazer aparecer o que esta lá*/
    <br />
    @Html.EditorFor(m => m.nomeAnimal)
    <br />
    @Html.Label("Escolha o tipo de Animal");
    <br />
    @Html.DropDownList("TipoAnimal", "Tipo Animal");
    <br />
    @Html.Label("Escolha a foto do animal");
    <br />
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" value="Atualizar Animal" class="btn btn-primary" />
}
<br />
<br />
@ViewBag.msg
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}