@model IEnumerable<ProjetoVeterinaria.Models.modelAtendimento>
@{
    ViewBag.Title = "Lista de Atendimento";
}

<br />
<div class="">
    <div class="col-lg-12">
        <div class="row d-flex justify-content-center">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Imagens/agend.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pet: @Html.DisplayFor(modelItem => item.nomeAnimal)</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Veterinário: @Html.DisplayFor(modelItem => item.nomeVet)</li>
                        <li class="list-group-item">Diagnóstico: @Html.DisplayFor(modelItem => item.Diagnostico)</li>
                        <li class="list-group-item">Hora: @Html.DisplayFor(modelItem => item.horaAtendimento)</li>
                        <li class="list-group-item">Data: @Html.DisplayFor(modelItem => item.dataAtendimento)</li>
                        <li class="list-group-item">Código do Agendamento: @Html.DisplayFor(modelItem => item.codAtendimento)</li>
                    </ul>
                    <div class="card-body">

                        @*<a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>*@
                    </div>
                </div>
            }



        </div>
    </div>
</div>
@ViewBag.msg
@if (ViewBag.msg=="tem")
{
    <div class="jumbotron" style="background-color: #334c64">
        <h1 class="display-4"><span style="color:white">Sem Agendamento Disponiveis</span></h1>
        <hr class="my-4" style="background-color:white">
        <p class="lead">
            Marque uma consuta! mantenha o bem estar do seu pet!
        </p>
    </div>
}