@model IEnumerable<ProjetoVeterinaria.Models.modelAgendamento>
@{
    ViewBag.Title = "Lista de Agendamento";
}
<br />
<div class="">
    <div class="col-lg-12">
        <div class="row d-flex justify-content-center">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Imagens/agend.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cliente: @Html.DisplayFor(modelItem => item.nomeCliente)</h5>
                        <p class="card-text">Pet: @Html.DisplayFor(modelItem => item.nomeAnimal)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Veterinário: @Html.DisplayFor(modelItem => item.nomeVet)</li>
                        <li class="list-group-item">Reclamação: @Html.DisplayFor(modelItem => item.Reclamacao)</li>
                        <li class="list-group-item">Hora: @Html.DisplayFor(modelItem => item.horaAgendamento)</li>
                        <li class="list-group-item">Data: @Html.DisplayFor(modelItem => item.dataAgendamento)</li>
                        <li class="list-group-item">Código do Agendamento: @Html.DisplayFor(modelItem => item.codAgendamento)</li>
                    </ul>
                    <div class="card-body">
                        @Html.ActionLink("Atualizar", "editarAgendamento", new { id = item.codAgendamento })
                        @Html.ActionLink("Excluir", "excluirAgendamento", new { id = item.codAgendamento }, new { onclick = "return confirm('Deseja realmente excluir?');" })

                        @*<a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>*@
                    </div>
                </div>

            }
        </div>
    </div>
</div> 
       