@model IEnumerable<ProjetoVeterinaria.Models.modelTipoAnimal>

@{
    ViewBag.Title = "Listar Tipo Animal";
}

<h2>Lista dos tipos de animais</h2>

<table class="table table-striped table-light table-hover table-bordered">
    <thead class="table-warning">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.codTipoAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.tipoAnimal)
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
         <tr class="table-info">
             <td>
                 @Html.DisplayFor(modelItem => item.codTipoAnimal)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.tipoAnimal)
             </td>
             <td>
                 @Html.ActionLink("Atualizar", "editarTipoAnimal", new { id = item.codTipoAnimal }) |
                 @Html.ActionLink("Excluir", "excluirTipoAnimal", new { id = item.codTipoAnimal }, new { onclick = "return confirm('Deseja realmente excluir?');" })
             </td>
         </tr>
        }

</table>
