@model IEnumerable<ProjetoVeterinaria.Models.modelTipoAnimal>

@{
    ViewBag.Title = "Listar Tipo Animal";
}

<h2>Lista dos tipos de animais</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.codTipoAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.tipoAnimal)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codTipoAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoAnimal)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "editarTipoAnimal", new { id = item.codTipoAnimal }) |
                @Html.ActionLink("Excluir", "excluirTipoAnimal", new { id = item.codTipoAnimal }, new { onclick = "return confirm('Deseja realmente excluir?');" })
            </td>
        </tr>
    }

</table>
